* {
  margin: 0;
  /* padding-top: 10px; */
  /* box-sizing: border-box; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.custom-topbar-div {
  height: 44px;
  background-color: wheat;
  padding-top: 5px;
}

.custom-font-header-p1 {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}


.custom-font-header-p2 {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}